
    .hidden {
    	display: none !important;
    }


    html,body {overflow-y:hidden}


#r_494,#t_494 {
    top: 253px;
    left: 363px;
}

#r_831,#t_831 {
    top: 274px;
    left: 338px;
}
#r_834,#t_834 {
        top: 295px;
    left: 326px;
}
#r_835,#t_835 {
        top: 295px;
    left: 350px;
}
#r_836,#t_836 {
    top: 290px;
    left: 369px;
}
#r_843,#t_843 {
        top: 322px;
    left: 369px;
}

#r_343,#t_343 {
    top: 335px;
    left: 449px;
}

#r_352,#t_352 {
        top: 377px;
    left: 449px;
}

#r_351,#t_351 {
top: 371px;
    left: 407px;
}

#r_347,#t_347 {
    top: 348px;
    left: 383px;
}
#r_341,#t_341 {
        top: 305px;
    left: 396px;
}
#r_833,#t_833 {
        top: 283px;
    left: 384px;
}
#r_349,#t_349 {
    top: 197px;
    left: 462px;
}

#r_821,#t_821 {
    top: 240px;
    left: 457px;
}


#r_345,#t_345 {
    top: 369px;
    left: 480px;
}

#r_381,#t_381 {
        top: 394px;
    left: 513px;
}

#r_383,#t_383 {
    top: 412px;
    left: 553px;
}
#r_385,#t_385 {
     top: 449px;
    left: 553px;
}

#r_388,#t_388 {
    top: 481px;
    left: 595px;
}

#r_346,#t_346 {
top: 349px;
    left: 532px;
}

#r_384,#t_384 {
        top: 442px;
    left: 602px;
}

#r_382,#t_382 {
    top: 385px;
    left: 579px;
}
#r_390,#t_390 {
        top: 450px;
    left: 624px;
}
#r_394,#t_394 {
    top: 491px;
    left: 671px;
}

#r_391,#t_391 {
        top: 340px;
    left: 646px;
}

#r_395,#t_395 {
        top: 388px;
    left: 758px;
}

#r_301,#t_301 {
        top: 435px;
    left: 789px;
}
#r_302,#t_302 {
    top: 473px;
    left: 824px;
}
#r_411,#t_411 {
    top: 282px;
    left: 853px;
}
#r_416,#t_416 {
    top: 424px;
    left: 926px;
}
#r_421,#t_421 {
        top: 334px;
    left: 950px;
}
#r_413,#t_413 {
        top: 233px;
    left: 988px;
}
#r_427,#t_427 {
        top: 148px;
    left: 988px;
}

#r_426,#t_426 {
        top: 456px;
    left: 974px;
}

#r_423,#t_423 {
    top: 481px;
    left: 1018px;
}
    #r_424,#t_424 {
        top: 401px;
    left: 1053px;
}

#r_415,#t_415 {
    top: 174px;
    left: 1053px;
}
    #r_493,#t_493 {

        top: 254px;
    left: 329px;
}

#r_492,#t_492 {
    top: 251px;
    left: 311px;
}

#r_817,#t_817 {
        top: 225px;
    left: 346px;
}

#r_482,#t_482 {
    top: 215px;
    left: 301px;
}

#r_491,#t_491 {
    top: 270px;
    left: 301px;
}

    #r_841,#t_841 {
    	    top: 303px;
    left: 301px;
    }

    #r_475,#t_475 {
    	    top: 289px;
    left: 286px;
    }

    #r_846,#t_846 {
    	    top: 324px;
    left: 337px;
    }

    #r_353,#t_353 {
    	top: 369px;
    left: 352px;
    }

    #r_845,#t_845 {
    	top: 336px;
    left: 306px;
    }

    #r_844,#t_844 {
    	    top: 324px;
    left: 268px;
    }

    #r_873,#t_873 {
    	    top: 386px;
    left: 211px;
    }

    #r_867,#t_867 {
    	    top: 385px;
    left: 201px;
    }

    #r_871,#t_871 {
    	    top: 396px;
    left: 213px;
    }

    #r_865,#t_865 {
    	    top: 357px;
    left: 220px;
    }

    #r_851,#t_851 {
    	top: 372px;
    left: 263px;
    }

    #r_847,#t_847 {
    	top: 365px;
    left: 241px;
    }

    #r_863,#t_863 {
    	 top: 325px;
    left: 231px;

    }

    #r_473,#t_473 {

    top: 290px;
    left: 260px;
    }

    #r_474,#t_474 {
    	top: 270px;
    left: 274px;
    }

    #r_487,#t_487 {
    	 top: 258px;
    left: 273px;

    }

    #r_812,#t_812 {
    	    top: 197px;
    left: 305px;
    }

    #r_818,#t_818 {
    	   top: 209px;
    left: 389px;
    }
    	
    	#r_811,#t_811  {
    	          top: 189px;
    left: 275px;
    		   }

    	#r_401,#t_401 {
    		top: 151px;
    left: 223px;


			   }


		#r_814,#t_814 {

			 top: 177px;
    left: 356px;
			   }

		#r_815,#t_815 {

			  top: 130px;
    left: 417px;
			   }

			   #r_495,#t_495 {
       top: 240px;
    left: 297px;
			   }


			   #r_rk,#t_rk {
			   	    top: 286px;
    left: 158px;
			   }

			   #r_481,#t_481 {
			   	    top: 216px;
    left: 268px;
			   }

			   #r_483,#t_483
			   {
			    top: 237px;
    left: 245px;

			   }

			   #r_471,#t_471 {
			  top: 261px;
    left: 242px;
			   }


			   #r_484,#t_484 {
			      top: 239px;
    left: 271px;
			   }

			   #r_486,#t_486 {
			 top: 260px;
    left: 258px;
			   }

			   #r_861,#t_861 {
			   	top: 322px;
    left: 192px;
			   }

			   #r_877,#t_877 {
			   top: 343px;
    left: 191px;
			   }

			   #r_878,#t_878 {
			    top: 363px;
    left: 193px;
			   }

			   #r_866,#t_866 {
			 top: 374px;
    left: 199px;
			   }

			   #r_872,#t_872 {
			     top: 419px;
    left: 215px;
			   }

    	.tooltips {

    		position: absolute;
    		white-space: nowrap; /* Запрещаем перенос строк */
    		width: 300px;
    		overflow: hidden !important;
    		border-radius: 10px;
    		text-overflow: ellipsis; /* Добавляем многоточие */
    		padding: 2px;
    	background: rgba(255, 255, 0, 0.9);
    		color: black !important;
    		text-decoration: none;



    		display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

    	}
    		    
    	.tooltips:hover {
    	
    		
    	}



.tooltips:hover, .tooltipsw:focus, .tooltips:active {
	z-index: 9999;
    		width: auto;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


    	.dot{
	margin: auto auto;
	width: 100px;
	height: 100px;
	position: relative;
}


.centraldot{
	width: 6px;
	height: 6px;
	background: rgba(255,0,0,1);
	border-radius: 30px;
	position: absolute;
	left:147px;
	top:147px;
	animation: animationDotCentral linear 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
}


.wave{
	width: 30px;
	height: 30px;
	background: rgba(255,0,0,0.4);
	border-radius: 200px;
	position: absolute;
	left:20px;
	top:20px;
	opacity: 0;
	animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-delay:0.9s;
  animation-iteration-count: infinite;
}

.wave2{
	width: 30px;
	height: 30px;
	background: rgba(255,0,0,0.4);
	border-radius: 200px;
	position: absolute;
	left:20px;
	top:20px;
	opacity: 0;
	animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-delay:1.07s;
  animation-iteration-count: infinite;
}


@keyframes animationDotCentral{
	
	0% {
		transform:  scale(0) ;
		opacity: 0;
	}
 
	5% {
		transform:  scale(2) ;
	}
  
	10% {
		transform:  scale(0.90) ;
		opacity: 1;
	}


	11% {
		transform:  scale(1.50) ;
	}

	12% {
		transform:  scale(1.00) ;
	}
 
	28% {
		background: rgba(32,150,243,1);
	}
  
	29% {
		background: rgba(255,255,255,1);
	}

	31% {
		background: rgba(32,150,243,1);
	}

	33% {
		background: rgba(255,255,255,1);
	}

	35% {
		background: rgba(32,150,243,1);
	}

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animationWave{
	0% {
	    opacity: 0;
	    transform:  scale(0.00);
	}

	1% {
		opacity: 1;
	}

	10% {
		background: rgba(255,0,243,0.4);
	}

	100% {
	 	transform:  scale(1) ;
	 	background: rgba(255,0,243,0.0);
	 }
}


#vmap, body {
background: rgb(3, 39, 216) !important;
}
    	

	
